*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary: rgb(43, 55, 67);
  --secondary: rgb(87, 142, 169);
  --ternary: rgb(238, 238, 238);
}

.nav-link {
  font-size: 1.25rem;
}
.nav-link:hover {
  text-decoration: underline;
  color: var(--secondary);
}
.active:hover {
  text-decoration: none;
}
.box {
  min-height: 200px;
}
.navbar {
  background-color: white;
  min-height: 60px;
}

.navbar-brand {
  margin-left: 20px;
}

#logo {
  object-fit: fill;
}

.circle {
  border-radius: 100px;
  background-color: var(--secondary);
  height: 40px;
  width: 40px;
}

.profile {
  background-color: rgba(0, 0, 0, 20%);
}

#profile {
  object-fit: cover;
}

.level {
  color: var(--secondary);
}

#inputSearch:focus {
  box-shadow: 0 0 0 0.25rem rgb(87, 142, 169, 0.8);
  border-color: var(--secondary);
}

#button-search-toggler {
  border-radius: 100px;
  border: none;
  text-align: center;
}

#button-search-toggler:hover {
  background-color: rgb(87, 142, 169, 0.8);
}

#responsive-inputSearch:focus {
  box-shadow: 0 0 0 0.25rem rgb(87, 142, 169, 0.8);
  border-color: var(--secondary);
}

#back-button:hover {
  background-color: rgb(87, 142, 169, 0.8);
}

.dropdown-item {
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.dropdown-item:hover {
  color: var(--secondary);
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-menu:hover {
  display: block;
}

#navbar-body {
  background-color: var(--primary);
}

.btn {
  --bs-btn-bg: var(--secondary);
  --bs-btn-color: var(--ternary);
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--ternary);
}

#brand {
  color: var(--ternary);
}
